@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Redressed&family=Righteous&display=swap');
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, rgba(216, 235, 216, 1.0), rgba(199, 236, 200, 1.0));
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.home-Container {
    min-height: 100vh;
    color: rgba(11, 39, 15, 1);
}
.blur {
    filter: blur(3px);
}
.navbarContainer {
    width: 100%;
    height: 5rem;
}
.navbar {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer img {
    width: 27px;
}

.logoContainer h2 {
    font-weight: 600;
    color: rgba(11, 39, 15, 1);
    font-size: 23px;
}

.headButtons button,.header button {
    font-family: 'Poppins', sans-serif;
    color: rgba(11, 39, 15, 1);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    height: 36px;
}
.headButtons button {
    background-color: rgba(214, 236, 214, 1);
    border: 2px black solid;
    border-radius: 6px;
    width: 100px;
    transition: transform 0.2s;
}
.headButtons button:hover {
    background-color: rgba(142, 192, 108, 0.44);
    transform: scale(1.03);
}
.home-Main, .dashboard {
    margin: 3rem auto;
    width: 80%;
    height: 38rem;
    background-color: rgba(29, 68, 51, 0.04);
    padding: 0 2rem 2rem;
    border-radius: 20px;
}
.home-Main .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-Main .header h1{
    padding-top: 2rem;
    margin: 0;
    font-size:38px;
    font-weight: 600;
}
.home-Main .header span{
    font-weight: 600;
    font-size: 34px;
}
.home-Main .add-Farm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(142, 192, 108, 0.44);
    border: 2px solid black;
    border-radius: 6px;
    width: 130px;
    cursor: pointer;
    transition: transform 0.2s;
}
.add-Farm i {
    font-size: 18px;
    padding-right: 5px;
    color: rgba(11, 39, 15, 1);
}
.add-Farm button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
.add-Farm:hover {
    background-color: rgba(135, 206, 88, 0.44);
    transform: scale(1.03);
}
.farm-MainContainer {
    margin-top: 7rem;
}
.farm-MainContainer h1 {
    text-align: center;
}
.farm-Main {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}
.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
    color: rgb(24, 51, 6);
    font-size: 5px;
    cursor: pointer;
}
.farm-Main .blocks {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(235, 247, 235);
    border-radius: 15px;
    height: 200px;
    justify-content: center;
}
.farm-Main .blocks i {
    color: rgba(11, 39, 15, 1);
    font-size: 24px;
    padding-bottom: 1rem;
}
.farm-Main .blocks h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}
.farm-Main .blocks span {
    color: #687065;
}
.farm-Main .blocks p, .farm-Main .blocks a{
    margin-top: 2rem;
    background-color: rgba(161, 216, 154, 1);
    text-decoration: none;
    color: rgba(11, 39, 15, 1);
    padding: .7rem;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
}

.createFarmContainer {
    z-index: 1;
    width: 270px;
    height: 400px;
    background-color: rgba(161, 216, 154, 1);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    border-radius: 10px;
    visibility: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.30);
}
.createFarmContainer i {
    position: absolute;
    top: 20px;
    right:20px;
    font-size: 22px;
    font-weight: 600;
    color: rgba(11, 39, 15, 1);
    cursor: pointer;
}
.shown {
    visibility: visible;
}
.createFarmContainer .header h1 {
    padding: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin: .5rem;
}
.createFarmContainer .input-block {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.createFarm-Main label {
    margin-top: 1rem;
    font-weight: 600;
}
.createFarm-Main input {
    padding: .6rem;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: rgb(225, 245, 225);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.createFarm-Main span {
    height: 6px;
    transition: all 0.2s;
    font-size: 12px;
    font-weight: 500;
}
.createFarm-Main .error {
    padding-left: .5rem;
    color:rgb(247, 14, 60);
}
.createFarm-Main button {
    width: 100%;
    margin-top: 1.4rem;
    border-radius: 6px;
    background-color: rgba(11, 39, 15, 1);
    border: none;
    color: rgb(225, 245, 225);
    height: 46px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
/* Dashboard */

.dashHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashHeader h1{
    color: rgba(11, 39, 15, 1);
}
.dashHeader .backBtn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(11, 39, 15, 1);
}
.dash-Main {
    border-radius: 15px;
    display: flex;
    gap: 1rem;
    flex-flow: wrap;
}
.Chart{
    background-color: #fff;
    padding: 1rem 0 1rem 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: ''Poppins', sans-serif';
}
.Chart h2 {
    margin: 0;
    font-weight: 600;
    color: rgba(11, 39, 15, 1);
}
.weekly-Chart .barchart-head {
    width: 80%;
    display: flex;
    justify-content:space-between; 
}
.barchart-head select {
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    outline: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    height: 30px;
    color: var(--textColor);
}
.weekly-Chart {
    width: 555px;
    height: 270px;
    background-color: rgb(245, 252, 243);
}
.pie-Chart {
    width: 35%;
    height: 270px;
    background-color: rgb(245, 252, 243);
}
.info-Container {
    width: 100%;
    display: flex;
    gap: 15px;
}
.farmer-Info, .sensor-Info {
    padding: 2rem;
    width:50%;
    height: 150px;
    background-color: rgb(245, 252, 243);
    border-radius: 15px;
}
.farmer-Info .farmer-list {
    color: rgba(11, 39, 15, 1);
}
.farmer-Info table {
    border-collapse: separate;
    border-spacing: 8px;
}
.farmer-Info th {
    font-weight: 600;
    padding-right: 50px;
}
.farmer-Info button {
    margin-top: 5px;
    background-color: rgba(161, 216, 154, 1);
    color: rgba(11, 39, 15, 1);
    padding: .3rem;
    border: 0;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}
.sensor-Info {
    background-color: rgba(176, 240, 166, 0.39);
}
.sensor-Info .header {
    display: flex;
    justify-content: space-between;
}
.sensor-Info h2 ,.farmer-Info h2 {
    margin: 0;
    font-weight: 600;
    color: rgba(11, 39, 15, 1);
}
.sensor-Info .sensor-block {
    display: flex;
    justify-content: space-between;
}